html,
body {
    height: 100%;
    margin: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.clr:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

/* =========header========= */

/* =========/header========= */